* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: lightgray;
}
header {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  background-color: #1c1b1b;
  height: fit-content;
  padding: 2em 0;
}
header h1 {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f20f0f, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.main {
  width: fit-content;
  height: fit-content;
}

#sizeSign {
  font-size: 1.5em;
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 660px;
  height: 660px;
  background-color: #202020;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  height: 600px;
  width: 600px;
  border: 1px solid rgb(156, 156, 156);
}

.grid-item {
  background-color: whitesmoke;
  border: 1px solid #999;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 2px solid #333;
}

.colorSettings,
.changeSizeForm,
.colorPalette {
  display: flex;
  gap: 10px;
  align-items: center;
  height: auto;
  padding: 1em;
}
.colorPalette {
  width: fit-content;
}

#divTwo {
  display: inline-flex;
  flex-wrap: wrap;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
input[type='number'] {
  font-size: 1em;
}

input[type='color'] {
  width: 35px;
  height: 35px;
}

.settings-container label,
button {
  font-weight: 600;
}

.settings-container button {
  height: 2em;
}

.notifications {
  height: 2em;
  padding: 0.5em;
  margin: 1em;
}
.notifications p {
  display: none;
  color: red;
  font-size: 1.25em;
  font-weight: 500;
}

#color-1,
#color-2,
#color-3,
#color-4,
#color-5,
#color-6 {
  width: 30px;
  height: 30px;
  margin: 3px;
  position: relative;
  border: 2px solid black;
  float: left;
  transition: all 0.2s;
  cursor: pointer;
}

#color-1:active,
#color-2:active,
#color-3:active,
#color-4:active,
#color-5:active,
#color-6:active {
  width: 33px;
  height: 33px;
  border: 4px solid black;
}

#color-1 {
  background-color: red;
}

#color-2 {
  background-color: blue;
}

#color-3 {
  background-color: yellow;
}

#color-4 {
  background-color: green;
}

#color-5 {
  background-color: orange;
}

#color-6 {
  background-color: pink;
}

#clear-btn {
  width: 150px;
  height: 50px;
}
